<section class="product-offers py-5">
  <div class="container">
    <div class="d-flex  gap-2 justify-content-around" >
      <!-- كارت 1 -->
      <div class="text-center d-flex flex-column align-items-center justify-content-center"
           style="width: 384px; height: 489px; background-color:#FDDCDD; border-radius: 12px; padding: 24px;">
        <img src="images/Image.png" alt="هاتف"
             style="height: 200px; object-fit: contain;" />
        <div class="mt-4 w-100">

          <h4 class="fw-bold mb-2">معالجة أسرع وأكثر ثراءً</h4><p class="text-muted mb-1 small">أسرع من EXPEED 4 ، يعالج EXPEED 5 بسرعة 45.7 ميجابكسل من البيانات لتقليل التشويش</p>
          <a href="#" class="text-primary fw-bold text-decoration-none">تسوق الآن</a>
        </div>
      </div>

      <!-- كارت 2 -->
      <div class="text-center d-flex flex-column align-items-center justify-content-center"
           style="width: 384px; height: 489px; background-color: #FFEFDA; border-radius: 12px; padding: 24px;">
        <img src="images/image2.png" alt="سماعة"
             style="height: 200px; object-fit: contain;" />
       <div class="mt-4 w-100">

          <h4 class="fw-bold mb-2">معالجة أسرع وأكثر ثراءً</h4><p class="text-muted mb-1 small">أسرع من EXPEED 4 ، يعالج EXPEED 5 بسرعة 45.7 ميجابكسل من البيانات لتقليل التشويش</p>
          <a href="#" class="text-primary fw-bold text-decoration-none">تسوق الآن</a>
        </div>
      </div>

      <!-- كارت 3 -->
      <div class="text-center d-flex flex-column align-items-center justify-content-center"
           style="width: 384px; height: 489px; background-color: #E0F6F0; border-radius: 12px; padding: 24px;">
        <img src="images/image3.png" alt="سماعة"
             style="height: 200px; object-fit: contain;" />
      <div class="mt-4 w-100">

          <h4 class="fw-bold mb-2">معالجة أسرع وأكثر ثراءً</h4><p class="text-muted mb-1 small">أسرع من EXPEED 4 ، يعالج EXPEED 5 بسرعة 45.7 ميجابكسل من البيانات لتقليل التشويش</p>
          <a href="#" class="text-primary fw-bold text-decoration-none">تسوق الآن</a>
        </div>
      </div>
    </div>
  </div>
</section>
