<footer class="footer footerContainer dark">
  <div class="footer-top">
    <div class="footer-section about">
      <h4>عن متجرنا</h4>
      <p>
        متجر سلة من أفضل المتاجر التي تقوم ببيع المنتجات الرقمية بفضل الأسعار ومواكبة عالمية
        تسوق الآن واطلع على المزيد من التصاميم
        واستمتع بأفضل العروض والخدمات
      </p>
    </div>

    <div class="footer-section account">
      <h4>حسابي</h4>
      <ul>
        <li><a href="#">« حسابي</a></li>
        <li><a href="#">« طلباتي</a></li>
        <li><a href="#">« سلة المشتريات</a></li>
        <li><a href="#">« المفضلة</a></li>
      </ul>
    </div>

    <div class="footer-section links">
      <h4>روابط مهمة</h4>
      <ul>
        <li><a href="#">« من نحن</a></li>
        <li><a href="#">« سياسة الخصوصية</a></li>
        <li><a href="#">« الشروط والأحكام</a></li>
        <li><a href="#">« الدعم الفني</a></li>
      </ul>
    </div>

    <div class="footer-section contact">
      <h4>تواصل معنا</h4>
      <ul>
        <li>واتساب : 009612345678932</li>
        <li>جوال : 009612345678932</li>
        <li>البريد : https://salla.sa</li>
      </ul>
    </div>

    <div class="footer-section social-col">
      <h4 class="footer-social-title">تابعنا على</h4>
      <div class="footer-social-icons">
        <a href="#" class="social-icon"><img src="https://img.icons8.com/color/48/000000/snapchat--v1.png" alt="snapchat"></a>
        <a href="#" class="social-icon"><img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png" alt="instagram"></a>
        <a href="#" class="social-icon"><img src="https://img.icons8.com/color/48/000000/twitter--v1.png" alt="twitter"></a>
        <a href="#" class="social-icon"><img src="https://img.icons8.com/color/48/000000/facebook-new.png" alt="facebook"></a>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-bottom-left">
      <img src="images/VISA-symbol.jpg" alt="mada" class="pay-icon">
      <img src="images/masterCard.png" alt="visa" class="pay-icon">
      <img src="images/paypal-595x300.png" alt="mastercard" class="pay-icon">
      <img src="images/Mada 512.png" alt="paypal" class="pay-icon">
    </div>
    <div class="footer-bottom-center">
      <img src="images/1-VAT-Logo.png" alt="mada" class="mada-icon">
      <span> الرقم الضريبي : 546987552</span>
    </div>
    <div class="footer-bottom-right">
      <span>جميع الحقوق محفوظة لمنصة سلة &copy; 2023</span>
    </div>
  </div>
</footer>
