<app-hero
  [title]="'خصومات رهيبة'"
  [description]="'الحق أقوى التخفيضات على الإلكترونيات والأدوات المنزلية'"

  [backgroundImage]="'images/hero.png'"
  [direction]="'rtl'"
  [showArrows]="true"
  [showDots]="true"
></app-hero>
<app-features-strip></app-features-strip>
<app-specialproducts></app-specialproducts>
<app-hero


  [backgroundImage]="'images/bannerContainer.png'"

></app-hero>
<app-categories-banner></app-categories-banner>
<app-new-arrivals></app-new-arrivals>
<app-advertisement></app-advertisement>
<app-hero
 [title]="'خصومات رهيبة'"
  [description]="'الحق أقوى التخفيضات على الإلكترونيات والأدوات المنزلية'"
[direction]="'rtl'"
  [showArrows]="true"
  [showDots]="true"
  [backgroundImage]="'images/hero3.png'"

></app-hero>
